@tailwind base;
@tailwind components;
@tailwind utilities;


.spyclip-video {
    scroll-snap-align: start;
  }
  
  .spyclip-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  


  .custom-scrollbar {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  

  @keyframes likeAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-like {
    animation: likeAnimation 0.5s ease-in-out;
  }
  